* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
html {
    font-size: 62.5%;
}
a:hover {
    text-decoration: underline rgb(255, 101, 101);
}
$black: rgba(0, 0, 0, 0.945);
@mixin links {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    margin: 0 1.5rem;
}
header {
    background-image: url(../img/fondo-header/fondo-ryuk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 50rem;
    width: 100vw;
}
.header {
    display: flex;
    background-color: $black;
    align-items: center;
    height: 10rem;
    justify-content: space-between;
    width: 100vw;
}
.header__logo--img {
    width: 20rem;
    margin-left: 2rem;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__nav--a {
    @include links;
}
.header__register {
    display: flex;
}
.header__register .details__titulo--h1 {
    @include links;
    margin-right: 4.5rem;
}
.details__titulo {
    list-style: none;
    position: relative;
    top: 1rem;
}
.details__paginas {
    position: absolute;
    list-style: none;
    background-color: $black;
    padding: 1rem;
    margin-top: 2rem;
}
.details__paginas--a {
    @include links;
}
.header__register .header__register--a1 {
    background-color: red;
    padding: 1rem 2.5rem;
}
.header__register--a {
    @include links;
    margin-right: 2.5rem;
}
@media only screen and (max-width: 650px) {
    .header__nav--a {
        display: none;
    }
    .header__register .header__register--a1 {
        padding: 0.5rem !important;
    }
    .details__titulo {
        top: 0.4rem;
        margin-right: 0.5rem !important;
    }
    .header__register--a {
        margin-right: 0.8rem !important;
    }
    header {
        height: 25rem !important;
        width: 100vw !important;
    }
    .header__logo--img {
        width: 12rem !important;
    }
    .header__register .details__titulo--h1 {
        margin-right: 0 !important;
    }
}
@media only screen and (max-width: 850px) {
    .header__logo--img{
        width: 15rem;
    }
    .header__nav--a {
        font-size: 1.7rem;
        margin: 0 0.8rem;
    }
    .header__register .details__titulo--h1 {
        margin-right: 0.5rem;
    }
    .header__register .header__register--a1 {
        padding: 1rem;
    }
}